@media screen,print {

    /* *** TIPOGRAFIA BASICA *** */

    html {
      font-family: Arial;
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
    
    body {
      margin: 0;
      padding: 0;
    }

    .notice {
      color: red;
    }


    /* *** LINHAS GERAIS *** */

    #container {
      width: 666px;
      margin: 0px auto;
      padding-bottom: 0px;
    }

    #instructions {
      margin: 0;
      padding: 0 0 20px 0;
    }

    #boleto {
      width: 666px;
      margin: 0;
      padding: 0;
    }


    /* *** CABECALHO *** */

    #instr_header {
      padding-left: 160px;
      height: 65px;
    }

    #instr_header h1 {
      font-size: 16px;
      margin: 5px 0px;
    }

    #instr_header address {
      font-style: normal;
      font-size: 9px;
    }

    #instr_content {

    }

    #instr_content h2 {
      font-size: 10px;
      font-weight: bold;
    }

    #instr_content p {
      font-size: 10px;
      margin: 4px 0px;
    }

    #instr_content ol {
      font-size: 10px;
      margin: 5px 0;
    }

    #instr_content ol li {
      font-size: 10px;
      text-indent: 10px;
      margin: 2px 0px;
      list-style-position: inside;
    }

    #instr_content ol li p {
      font-size: 10px;
      padding-bottom: 4px;
    }


    /* *** BOLETO *** */

    #boleto .cut {
      width: 666px;
      margin: 0px auto;
      border-bottom: 1px black dashed;
    }

    #boleto .cut p {
      margin: 0 0 5px 0;
      padding: 0px;
      font-family: 'Arial Narrow';
      font-size: 9px;
      color: black;
    }
    
    .no-border {
      border: none !important;
    }
    
    .b-top {
      border-top: none !important;
    }
    
    .b-right {
      border-right: none !important;
    }
    
    .b-bottom {
      border-bottom: none !important;
    }
    
    .b-left {
      border-left: none !important;
    }
    
    .no-bold {
      font-weight: normal !important;
    }

    .itau-table {
      border: 1px solid #000;
      border-top: none;
      border-right: none;
      border-collapse: collapse;
    }
    
    .itau-table th {
      border: none; 
    }
    
    .itau-table td {
      border: 1px solid #000; 
      border-top: none;
      border-right: none;
    }
    
    .itau-cp {
      font-size: 10px;
      font-weight: bold;
      font-family: Arial;
      color: black;
    }

    .itau-ct {
      font: 9px "Arial Narrow";
      color: #000033;
      padding: 2px 2px 0;
    }
    
    .itau-cv {
      font-size: 10px;
      font-weight: bold;
      font-family: Arial;
      color: black;
      padding: 2px 2px 0 4px;
    }
    
    .itau-right {
      text-align: right;
    }

    .itau-instrucoes {
      margin: 10px 0 0 5px;
    }
    
    .itau-instrucoes p {
      margin: 0px;
    }

    .ti {
      font: 9px Arial, Helvetica, sans-serif;
    }
    .ld {
      font: bold 15px Arial;
      color: #000000;
    }
    .cn {
      font: 9px Arial;
      color: black;
    }
    .bc {
      font: bold 20px Arial;
      color: #000000;
    }
    .ld2 {
      font: bold 12px Arial;
      color: #000000;
    }

    div.barcode {
      width: 666px;
      margin-bottom: 0px;
    }
    
    .blt_descricao {
      background: none repeat scroll 0 0 #FFFFFF;
      color: #000000;
      font-size: 10px;
      height: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 460px;
    }

  }

@media print {

  #instructions {
    height: 1px;
    visibility: hidden;
    overflow: hidden;
  }

}